
* {
    background-color: #101010;
    color: white;
}

/*
* {
    background-color: white;
    color: #101010;
}
*/

body {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #FF9800;
}

h2 {
    color: #6CB789;
}

br {
    margin-bottom: 20px;
}